.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
/* drop down styles */
.arrow_down {
  display: none;
}

.toggleMenu {
  display: none;
  list-style: none;
  padding: 0;
}
.metta_arrow_down {
  display: block;
}
.main {
  background-color: black;
  color: white;
  position: relative;
  top: 5em;
}
.upper_footer {
  display: flex;
  justify-content: space-between;
}

.newsletter {
  flex: 1;
  max-width: 400px;
}

.newsletter h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 16px;
  margin-bottom: 20px;
}

.input {
  display: flex;
}

.input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.subscriber {
  padding: 10px 20px;
  background-color: #747b83;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-left: 6px;
  cursor: pointer;
  font-family: Simplon Norm;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
}

.trans_details {
  font-size: 15px;
}
.contact_us {
  flex: 1;
  max-width: 400px;
}

.usd {
  display: flex;
  margin-top: 8px;
}
.usd span {
  margin-left: 10px;
}
.contact_us h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* .contact_us p {
  font-size: 16px;
  margin-bottom: 10px;
} */

.currency {
  flex: 1;
  padding-top: 12px;
}

.currency .footerHeading {
  font-size: 18px;
  margin-bottom: 10px;
}

.action_links {
  display: flex;
  justify-content: space-between;
  padding: 40px 2px;
}

.metta_muse,
.quickLinks,
.follow_us {
  flex: 1;
 
}

.quickLinks ul {
  list-style: none;
  padding-top: 0px;
  list-style: none;
  /* padding-top: 10px; */
  margin: 0px;
  margin-block-start: 0px;
  padding-inline: 0px;
}

.quickLinks ul li {
  margin: 9px 1px;
}
.links {
  list-style: none;
  padding: 0;
}
.link {
  font-family: Simplon Norm;
  font-size: 14px;
  font-weight: 100;
  line-height: 2px;
  letter-spacing: 1px;
  text-align: left;
  color: black;
  text-decoration: none;
  color: white;
}

.links li {
  font-size: 16px;
  margin-bottom: 10px;
}

.follow_us h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.social_links_container .social_links {
  display: flex;
  gap: 10px;
}

.social_links_container .social_links img {
  width: 24px;
  height: 24px;
}

.paymentMethodsContainer h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.media_contact {
  display: block;
}
.payments {
  display: flex;
  justify-content: space-between;
}
.copyright {
  text-align: center;
}
@media (max-width: 480px) {
  .wrapper {
    max-width: 1200px;

    margin: 0 auto;
    padding: 10px;
  }

  .tognav {
    display: block;
  }
  .links {
    list-style: none;
    padding: 0;
    display: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown_toggle {
    cursor: pointer;
    font-family: Simplon Norm;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    line-height: 21.6px;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
  }
  .main {
    background-color: black;
    color: white;
    position: relative;
    top: 5em;
  }
  .upper_footer {
    display: flex;
    flex-direction: column;
  }

  .media_contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
  
  .media_contact p {
    /* Your styles here */
    margin-bottom: 10px;
    font-size: 14px;
  }
  .currency p {
    display: none;
  }

  .action_links {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  .quickLinks h3 {
    margin-bottom: 9px;
  }

  /* styles for metta muse dropdown */
  .arrow_down {
    display: inline-block;
    filter: invert(100%) grayscale(100%);
    width: 44px;
    height: 44px;
  }

  .metta_arrow_down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white
  }

  .toggleMenu {
    display: inline-block;
    list-style: none;
    padding: 0;
  }
  .toggleMenu li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .paymentMethodsContainer h3 {
    font-size: 13px;
    margin-bottom: 10px;
  }
}
